<h1>Subscription Application Features</h1>
<p>
<br/>
1) As a user, I sign up and I am presented with My Subscription Page
<br/>
2) Password stored as hashed password using password_digest
<br/>
3) indexed on email for faster access during login
<br/>
4) regex validation for email for uniqueness and case-insensitvity
<br/>
5) validation for presence of email. didnt put validation for user as request.
<br/>
6) validation of email length
<br/>
7) Stripe integration for credit card payments
<br/>
8) Payola for subscription model using stripe
<br/>
9) User profile updated with subscribed plan
<br/>
10) Plan Upgrade
<br/>
</p>
